*{
	margin:0;
	padding:0;
}
.outer{
	width:1000px;;
	margin:0 auto;
}
.header{
	height:80px;
	background:black;
	padding-top:20px;
}
.header #logo {
	width:60px;
	height: 50px;
	background:#462300;
	padding-top:10px;
	margin-left:20px;
	margin-right:10px;
	float:left;
}
.name{ float:left;}
.header .menu{
	margin-top:20px;
}
.menu ul{
	list-style: none;
}

.menu ul li a {
	margin-right:20px;
	color:white;
	text-decoration: none;
	float:right;
	display: block;
	width:80px;
	height:20px;
	text-align: center;
	font-size:12px;
	line-height: 20px;
}
.menu ul li:hover a{
	color:black;
	background:white;
}
.content{
	width:1000px;
	height:500px;
	background-image:url(6f87fcb9f8b20fd0048fca669b426372.jpg);
}
.content center{
	padding-top:150px;
}
.content h1{
	text-align: center;
}
.left {
	width:300px;
	height:auto;
	float:left;
}
.b1{
	margin-top:30px;
	border:1px solid ;
	padding-bottom: 10px;
}
.b1 .title{
	background:#5198E4;
	font-size: 20px;
	text-align: center;
}
.b1 ul li{
	list-style: none;
	margin-left:20px;
	margin-top:10px
}
.b1 ul li a{
	text-decoration: none;
	color:black;
}
.b2{
	margin-top:40px;
	border:1px solid;
	padding-bottom: 10px;
}
.b2 .title{
	background:#5198E4;
	font-size: 20px;
	text-align: center;
}
.b2 ul li{
	list-style: none;
	margin-left:20px;
	margin-top:10px
}
.b2 ul li a{
	text-decoration: none;
	color:black;
}
.b3{
	margin-top:40px;
	border:1px solid;
	padding-bottom: 10px;
}
.b3 .title{
	background:#5198E4;
	font-size: 20px;
	text-align: center;
}
.b3 ul li{
	list-style: none;
	margin-left:20px;
	margin-top:10px
}
.b3 ul li a{
	text-decoration: none;
	color:black;
}
.right{
	width:700px;
	float:right;
}
.right .n1{
	margin: 50px 150px;
}
.right .n1 center{
	font-size: 30px;
	font-weight: bold;
}
.right .n1 line {
	text-align: justify;
	margin-top:10px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"
}
.n1 img{
	width:400px;
	margin-top:20px;
}
.n2{
	margin-top:100px;
	width:400px;
}
.n2 {
	margin:50px 150px;
}
.n2 center{
	font-size: 30px;
	font-weight: bold;
}
.n2 line {
	text-align: justify;
	margin-top:20px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"
}
.n2 img{
	width:400px;
	margin-top:20px;
}
.footer{
	width:1000px;
	height:170px;
	background-image:url(seashell-sand-beach-plyazh-leto.jpg);
	margin-top:1100px;
}
.footer center{
	font-size: 30px;
	padding-top:30px;
	font-weight:bold;
	text-align: center;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}
.footer p {
	font-size:17px;
	text-align: center;
	padding-top:20px;
}